
main{
    margin: 0 auto;
    width: 70%;
}

h1{    
    text-align: center;
}

#btn{
    border: none;
    background-color:red;
    padding: 5px;
    width: 200px;
    font-size: 20px;
}

input{
    width: 200px;
    height: 33px;
    text-align: center;
    margin-left: 37%;
    font-size: 20px;

}

ul {
    display: flex;
    flex-wrap: wrap;
}

li {
    list-style-type: none;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
    text-align: center;
}

.close{
    display: block;
    border: none;
    margin-left: 10px;
    margin-bottom: 60px;
    width: fit-content;
}

.hex-text{
    font-size: 30px;

} 
